* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 51px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 45px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, 0.6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    line-height: 12px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
}
.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url("../img/main_logo.png") center center/cover no-repeat;
}

.promo .promo_header {
    margin: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}
.promo .promo_subheader {
    margin: 22px 0 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.promo .promo_desc {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);

    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}


