* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    padding: 39px 0 62px 0;
    height: 800px;
    background: url("../img/bg/2-layers.png") center center/cover no-repeat;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo p {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-size: 41px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
